.chat-body{
    background-image: url('../assets/pexels-karolina-grabowska-4021775.jpg');
    background-size: cover;
    background-position: cover;
    padding: 0px 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.container{
    background-color: #51515127;
    backdrop-filter: blur(16px);
    height: auto;
    width: 75%;
    padding: 12px;
    margin: 12px;
    border-radius: 5px;
}
h1{
    font-size: 36px;
    text-align: center;
}

p{
    font-size: 18px;
    text-align: justify;
}